.kickstarter-badge {
  position: absolute;
  top: 20px; right: 0;
  z-index: 2;
  max-width: 200px;

  @include media-query($tablet-min-width) {
    max-width: 100%;
  }
}

.main {
  position: relative;
}

.rad-logo {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;

  h1, h2 {
    display: none;
  }
}

.rad-logo__image {
  width: 100%;
  position: relative;
}

.rad-logo__animation-container {
  position: absolute;
  padding-bottom: 50%;
  width: 50%;
  z-index: 1;
  background-color: #000;
  top: 36%; left: 25%;
}

.rad-logo__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}