---
title: About Radimus
current: about-radimus
---

<div class="content-page">
  <div class="content-page__images with-slider" id="slider">
    <div class="content-page__images-cont">
      <figure class="content-page__image">
        <%= image_tag "about-radimus/1.jpg", class: "content-page__image__img" %>
        <figcaption>Hello! I’m Radimus and I’m super stoked to meet you!</figcaption>
      </figure>
      <figure class="content-page__image">
        <%= image_tag "about-radimus/2.jpg", class: "content-page__image__img" %>
        <figcaption>Follow me on some adventures!</figcaption>
      </figure>
      <figure class="content-page__image">
        <%= image_tag "about-radimus/3.jpg", class: "content-page__image__img" %>
        <figcaption>You’ll flip over my quirky antics and friends!</figcaption>
      </figure>
    </div>
  </div>
  <div class="content-page__text">
    <%= image_tag "about-radimus.png", alt: "About Mikey", class: "content-page__title" %>

    <p>Radimus Platypus is an exciting, positive, creative and charismatic character who expresses himself through his love for board sports. Radimus surfs, skates, snowboards, wakeboards and even discovers yoga.</p>

    <p>With the launch of vol. 1 of the picture book series, The Hatch, Radimus Platypus smashes into the world. Each book in the series takes Radimus on a curious radventure where he learns new things, discovers what makes him happy, and grows as an individual. The quirky characters and stories inspire kids and parents to do the same.</p>

    <p>All the books in the series have been written by Mikey Bondoc and will be illustrated by him as well. Mikey has and continues to develop his illustration style for the book series with a talented instructor from Parsons The New School for Design. The illustrations for The Hatch are currently in progress and will be ready for the printer late-November 2014.</p>

    <p>Here’s an excerpt from The Hatch:</p>

    <blockquote>
      <p>The egg’s reckless rolling had come to a stop<br>
beside a small stone,which was next to a drop.</p>

      <p>The baby inside was still feeling too tight.<br>
      He rocked to the left, and he rocked to the right.</p>

      <p>Down the hill to the water he went,<br>
      laughing, enjoying his speedy descent.</p>

    </blockquote>
  </div>
</div>