---
title: Home
current: home
---

<%= link_to image_tag("kickstarter-staff-pick.png", class: "kickstarter-badge"),
            'https://www.kickstarter.com/projects/1245971896/the-radventures-of-radimus-platypus' %>

<div class="rad-logo">
  <h1 class="visuallyhidden">The Radventures of Radimus Platypus</h1>
  <h2 class="visuallyhidden">Vol. 1. The Hatch</h2>

  <div class="rad-logo__animation-container">
    <%= image_tag "rad.gif", class: "rad-logo__animation" %>
  </div>

  <%= image_tag "logo.png", class: "rad-logo__image" %>
</div>