---
title: Kickstarter
current: kickstarter
---

<div class="content-page">
  <div class="content-page__images">
    <figure class="content-page__image">
      <%= image_tag "mikey-with-kids.jpg", class: "content-page__image__img" %>
    </figure>
  </div>
  <div class="content-page__text">
    <%= image_tag "kickstarter.png",
          alt: "Support us on Kickstarter", class: "content-page__title content-page__title--kickstarter" %>

    <p>Our Kickstarter campaign goes live on Tuesday September 30th!</p>

    <p>Our goal of $40,000 will fund the cost of all legal and corporation fees, copy editing, obtaining ISBN numbers, printing the first run of 5,000 books of vol. 1 The Hatch, and packaging and shipping.</p>

    <p>The Radventures of Radimus Platypus vol.1 The Hatch, is a fun and exciting rhyming tale of the birth of a curious and forever stoked platypus. Ma Platypus is suddenly awakened by her egg that is rolling around the burrow. She is fearful that her baby inside is in harms way but the little pup knows exactly what he’s doing. He’s ready to burst into the world to follow his heart and create a life of happiness, joy and bliss.</p>

    <p>This is a very inspiring and positive radventure for children today and in the future. Radimus reminds all of us at any age to listen to our hearts and do what comes most naturally.</p>

      <p>We have some amazing rewards including a pre-order of the book with shipping included for $25.00. Signed books, illustrations and posters will also be on offer. International shipping will be available at an additional cost.</p>

        <p>Vol. 1 The Hatch and all volumes in the series will be 32 page hardbound books. The books and all future products will be manufactured with the highest environmental standards in mind. We love Mother Earth and want to keep her healthy and happy for a long time to come.</p>

          <p>Please sign up for our newsletter and we'll keep you up to speed with the launch and all the radness that we'll be pumping out. All of your love and support for this project will be much appreciated!!!</p>
  </div>
</div>