.site-nav {
  padding: 1em 0;
  overflow: hidden;
}

.site-nav__items {
  @extend %inline-list;
}

.site-nav__item {
  padding: .25em 0;
  line-height: 20px;
  vertical-align: middle;
}

.site-nav__item__text {
  text-transform: uppercase;
  color: $highlight;
  font-family: "helvetica_neueregular";
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: .25em;
}

.site-nav__item__link {
  @extend .site-nav__item__text;

  &:hover,
  &:focus,
  &.is-selected {
    background-color: $highlight;
    color: #fff;
  }
}

@include media-query($tablet-min-width) {
  .site-nav__item {
    padding: 0 .75em;
    display: block;
    float: left;
  }

  .site-nav__item--last {
    text-align: right;
  }
}